//- Replace these variables to generate a new page
- var title = "Joint OGC-ASF-OSGeo Code Sprint";
- var date = "February, 26-28 2024";
- var deadline = "Monday, February 19 2024, 17:00 CEST";
- var tagline = "2024 Edition";
- var registration_link = "https://portal.ogc.org/public_ogc/register/2402_code_sprint.php";
- var schedule_link = "https://github.com/opengeospatial/developer-events/wiki/2024-Joint-OGC-%E2%80%93-OSGeo-%E2%80%93-ASF-Code-Sprint#schedule";
- var about = "A Code Sprint is an event where dozens of developers from around the world come together to code and share their ideas. The main goals of this code sprint are to support the development of open standards for geospatial information and to support the development of free and open source software which implements those standards, as well as creating awareness about the standards and software projects. This code sprint will take place at Casa Cordovil - Universidade de Évora (Évora, Portugal) and on the OGC's Discord events server. It is organised by the Open Geospatial Consortium (OGC), the Open Source Geospatial Foundation (OSGeo) and the Apache Software Foundation (ASF) and it is hosted by Universidade de Évora, NaturalGIS and Geobeyond.";
- var wiki_link = "https://github.com/opengeospatial/developer-events/wiki/2024-Joint-OGC-%E2%80%93-OSGeo-%E2%80%93-ASF-Code-Sprint";
- var location = "Casa Cordovil - Universidade de Évora (Évora, Portugal)";
- var location_link = "https://www.uevora.pt/en"
- 
    var speakers = [
        {"src": "assets/img/gobe.jpeg", "alt": "Gobe", "h3": "Gobe Hobona", 
        "p": "Director of Product Management, Standards OGC. "},
        {"src": "assets/img/tom.jpeg", "alt": "Tom", "h3": "Tom Kralidis", 
        "p": "OSGeo Board Member and Key Contributor of FOSS4G projects."},
        {"src": "assets/img/joana.jpg", "alt": "Joana", "h3": "Joana Simoes", 
        "p": "Developer Relations at OGC, OSGeo Charter Member."},
        {"src": "assets/img/martin.jpeg", "alt": "Martin", "h3": "Martin Desruisseaux", 
        "p": "Chair and contributor of the Apache SIS project."}
        ];

- var start_date = "2024/02/26 09:00:00";